@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300&display=swap');

:root {
    font-family: 'Lato', sans-serif;
    --main-color: black;
    color: var(--main-color);
}

h1 {
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    margin: 25px 25px 5px 25px;
    text-align: left;
}

header #credo {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    margin: 5px 5px 5px 10px;
    text-align: left;
    color: grey;
}

header nav .top-menu {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0px;
    margin: 15px;
    font-size: 16px;

}

header nav .top-menu li a {
    text-decoration: none;
    color: var(--main-color);
    padding: 5px;
    border: 1px solid transparent;

}

header nav .top-menu li a:hover {
    border: 1px solid var(--main-color);
    background-color: #f0f1f7;
}

@media (min-width:768px) {

    h1 {
    font-family: 'Lato', sans-serif;
    font-size: 32px;
    margin: 25px 25px 5px 25px;
    text-align: center;
    }

    header #credo {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    margin: 5px;
    text-align: center;
    color: grey;
    }

    header nav .top-menu {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0px;
    margin: 20px 20px 20px 20px;
    font-size: 16px;
     }

}
