body {
    max-width: 960px;
    margin: auto;
}

h3 {
    margin: 5px;
}

h2 {
    width: 300px;
    margin-top: 65px;
    font-size: 24px;
    margin-left: 10%;
}

hr {
    margin: 0px;
}

#home {
    background-image: url(../img/vnl-raw.jpg);
    min-height: 300px;
    background-position: center;
    background-size: cover;
    color: whitesmoke;
    margin: 0px;
    position: relative;
}

#home-content {
    /*width: 400px;
    margin-left: 20%;*/
    position: absolute;
    top: 30px;
    margin-left: 20%;
}

#background {
    text-align: left;
    width: 315px;
    height: 350px;
    margin-top: 35px;
    margin-left: 30%;
    margin-bottom: 100px;   
}

#eurotracksimage {
    width: 450px;
    margin-left: 20%;
    
}

#best-partners-text {
    width: 300px;
    margin-top: 65px;
    font-size: 24px;
    margin-left: 10%;
}

#gps {
    text-align: center;
    width: 250px;
    margin-left: 35%;
    margin-top: 85px;
    font-size: 18px;
    margin-bottom: 85px;
}

#gps p {
    font-size: 14px;
    color: grey;
}

#gpsimage {
    height: 430px;
    width: 760px;
    object-fit: contain;
}

#route-planing {
    text-align: center;
    width: 250px;
    margin-left: 35%;
    margin-top: 85px;
    font-size: 18px;
    margin-bottom: 85px;
}

#route-planing p {
    font-size: 14px;
    color: grey;
}

#mapimage {
    height: 430px;
    width: 760px;
    object-fit: contain;
}

#inventory-management {
    text-align: center;
    width: 250px;
    margin-left: 35%;
    margin-top: 85px;
    font-size: 18px;
    margin-bottom: 85px;
}

#inventory-management p {
    font-size: 14px;
    color: grey;
}

#service {
    height: 416px;
}

#serviceimage {
    height: 420px;
    width: 760px;
    object-fit: contain;
    margin: 0px;
}

#quote {
    width: 760px;
    height: 280px;
    background-color: indigo;
    margin-top: 0px;
}

#quotecontent { 
    width: 500px;
    color: white;
    margin-left: 25%;
    padding-top: 80px;
    font-size: 20px;
    
}

#quoteauthor {
    font-size: 15px;
    margin-top: 15px;
}

#clients-header {
    text-align: center;
    width: 250px;
    margin-left: 35%;
    margin-top: 85px;
    font-size: 18px;
    margin-bottom: 85px;
}

#clientsCarousel {
    width: 768px;
    height: 251px;
}
.carousel-inner p {
    color: black;
}
.carousel-inner h5 {
    margin-top: 15px;
    color:black;
    font-size: 16px;

}

.carousel-caption d-none d-md-block {
    padding-top: 30px;
}

.carousel-control-prev {
    background-color: grey;
    opacity: 0.2;
}

.carousel-control-next {
    background-color: gray;
    opacity: 0.2;
}

#contactHeader {
    text-align: center;
    width: 250px;
    margin-left: 35%;
    margin-top: 85px;
    font-size: 18px;
    margin-bottom: 25px;
}

#contactcontent {
    text-align: center;
    width: 500px;
    margin-left: 20%;
    font-size: 15px;
    margin-bottom: 25px;
}

#message {
    width: 680px; 
    height:175px; 
    margin-left: 5%;
    margin-right: 5%;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

#email {
    width: 300px;
    height: 35px;
    margin-left: 35px;
    margin-right: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

#name {
    height: 35px;
    margin-right: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    width: 250px;
    margin-left: 35px;
}

#formbuttons {
    width: 70px;
    margin-left: 43%;
    margin-bottom: 20px;
}

#frame {
    width: 768px;
    height: 230px;
    margin-bottom: 20px;
}

/* Calculator */

#transport {
    height: 30px;
    width: 80px;
    text-align: center;
    margin: 15px 15px 10px 15px;
}

#weight, #distance {
    height: 30px;
    margin: 15px 5px 10px 15px;
}

#buttoncalc {
    height: 30px;
    margin-left: 15px;
    margin-bottom: 15px;
    width: 300px;
}

    /* Converter */

#selector {
    margin-left: 5px;
}

#curren1 {
    height: 30px;
    width: 150px;
    margin: 15px 5px 10px 15px;
}

#curren2 {
    height: 30px;
    width: 150px;
    margin: 15px 5px 10px 15px;
}

#move {
    height: 30px;
    width: 150px;
    margin-left: 15px;
    margin-right: 15px;
}

#res_curren1 {
    height: 30px;
    width: 250px;
    margin: 15px 5px 10px 15px;
}

#res_curren2 {
    height: 30px;
    width: 250px;
    margin: 5px 5px 10px 15px;
}


@media (min-width:768px) {
    header h1 {
        font-size: 44px;
    }

    header #credo {
        font-size: 35px;
    }

   .container {
       display: grid;
       grid-template-columns: 1fr 1fr;
   }

    #background {

        font-size: 14px;
        text-align: left;
        margin-left: 15px;
    }

    #background p {
        margin-left: 15%;
    }

    #eurotracksimage {
    
        margin-left: 5px;
    }

    #best-partners {
        display: grid;
        grid-auto-rows: auto;

    }
    
    #best-partners-text {
        width: 300px;
        margin-top: 65px;
        font-size: 24px;
        margin-left: 10%;
    }
    
    #gps {
        text-align: center;
        width: 250px;
        margin-left: 35%;
        margin-top: 85px;
        font-size: 18px;
        margin-bottom: 85px;
    }
    
    #gps p {
        font-size: 14px;
        color: grey;
    }
    
    #gpsimage {
        height: 430px;
        width: 960px;
    }
    
    #route-planing {
        text-align: center;
        width: 250px;
        margin-left: 35%;
        margin-top: 85px;
        font-size: 18px;
        margin-bottom: 85px;
    }
    
    #route-planing p {
        font-size: 14px;
        color: grey;
    }
    
    #mapimage {
        height: 430px;
        width: 960px;
        object-fit: contain;
    }
    
    #inventory-management {
        text-align: center;
        width: 250px;
        margin-left: 35%;
        margin-top: 85px;
        font-size: 18px;
        margin-bottom: 85px;
    }
    
    #inventory-management p {
        font-size: 14px;
        color: grey;
    }
    
    #service {
        height: 416px;
    }
    
    #serviceimage {
        height: 420px;
        width: 960px;
        object-fit: contain;
        margin: 0px;
    }
    
    #quote {
        width: 960px;
        height: 280px;
        background-color: indigo;
        margin-top: 4px;
    }
    
    #quotecontent { 
        width: 500px;
        color: white;
        margin-left: 25%;
        padding-top: 80px;
        font-size: 20px;
        
    }
    
    #quoteauthor {
        font-size: 15px;
        margin-top: 15px;
    }
    
    #clients-header {
        text-align: center;
        width: 250px;
        margin-left: 35%;
        margin-top: 85px;
        font-size: 18px;
        margin-bottom: 85px;
    }
    
    #clientsCarousel {
        width: 960px;
        height: 251px;
    }
    .carousel-inner p {
        color: black;
    }
    .carousel-inner h5 {
        margin-top: 15px;
        color:black;
        font-size: 16px;
    
    }
    
    .carousel-caption d-none d-md-block {
        padding-top: 30px;
    }
    
    .carousel-control-prev {
        background-color: grey;
        opacity: 0.2;
    }
    
    .carousel-control-next {
        background-color: gray;
        opacity: 0.2;
    }
    
    #contactHeader {
        text-align: center;
        width: 250px;
        margin-left: 35%;
        margin-top: 85px;
        font-size: 18px;
        margin-bottom: 25px;
    }
    
    #contactcontent {
        text-align: center;
        width: 500px;
        margin-left: 20%;
        font-size: 15px;
        margin-bottom: 25px;
    }
    
    #message {
        width: 760px; 
        height:175px; 
        margin-left: 10%;
        margin-right: 10%;
        border-style: solid;
        border-width: 1px;
        border-color: black;
    }
    
    #email {
        width: 300px;
        height: 35px;
        margin-left: 25%;
        margin-right: 10px;
        border-style: solid;
        border-width: 1px;
        border-color: black;
    }
    
    #name {
        height: 35px;
        margin-right: 10px;
        border-style: solid;
        border-width: 1px;
        border-color: black;
        width: 250px;
        margin-left: 40%;
    }
    
    #formbuttons {
        width: 70px;
        margin-left: 43%;
        margin-bottom: 20px;
    }

        /* Calculator */

    #transport {
        height: 40px;
        width: 150px;
        text-align: center;
        margin: 15px 15px 10px 15px;
    }

    #weight, #distance {
        height: 40px;
        margin: 15px 5px 10px 15px;
        width: 300px;
        text-align: center;
    }
    
    #buttoncalc {
        height: 40px;
        margin-left: 15px;
        margin-bottom: 15px;
        width: 300px;
    }

        /* Converter */

    #selector {
       margin-top: 20px;
    }

    #curren1 {
        height: 30px;
        width: 150px;
        margin: 5px 5px 10px 15px;
    }

    #curren2 {
        height: 30px;
        width: 150px;
        margin: 5px 5px 10px 15px;
    }

    #move {
        height: 30px;
        width: 150px;
        margin-left: 15px;
        margin-right: 15px;
    }

    #res_curren1 {
        height: 30px;
        width: 250px;
        margin: 5px 5px 10px 15px;
        text-align: center;
    }

    #res_curren2 {
        height: 30px;
        width: 250px;
        margin: 5px 5px 10px 15px;
    }
    
         /* Map */

    #frame {
        width: 960px;
        height: 230px;
        margin-bottom: 20px;
        margin-top: 20px;
    }
}   
